@using LuxuryAndCo.OnlineShop.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutUsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";

	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),
		
		Sections = new List<Section>
		{
			new Section
			{
				Title = "General",
				Content = Model.Value<string>("general")
			},
			new Section
			{
				Title = "History",
				Content = Model.Value<string>("history")
			},
			new Section 
			{
				Title = "Quality Standards",
				Content = Model.Value<string>("qualityStandards")
			},
			new Section 
			{
				Title = "Philosophy",
				Content = Model.Value<string>("philosophy")
			}
			
		}
		
	};
}

<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>
