@using LuxuryAndCo.OnlineShop.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContactPage>
@{
    Layout = "Master.cshtml";

    var footerModel = new FooterContentViewModel
    {
        PageTitle = Model.Value<string>("pageTitle"),
        
        Sections = new List<Section>
        {
            new Section
            {
                Title = "Contact us via...",
                Content = Model.Value<string>("content")
            },
            new Section
            {
                Title = "or visit us at our branch...",
                Content = Model.Value<string>("visitUs")
            },
        }
     
    };
}

<section class="contact-container">
    @await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>