@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.FaqPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models

@{
	Layout = "Master.cshtml";
	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),

		Sections = new List<Section>
		{
			new Section
			{
				Title = Model.Value<string>("question1"),
				Content = Model.Value<string>("answer1")
			},
			new Section
			{
				Title = Model.Value<string>("question2"),
				Content = Model.Value<string>("answer2")
			},
			new Section
			{
				Title = Model.Value<string>("question3"),
				Content = Model.Value<string>("answer3")
			},
			new Section
			{
				Title = Model.Value<string>("question4"),
				Content = Model.Value<string>("answer4")
			},
			new Section
			{
				Title = Model.Value<string>("question5"),
				Content = Model.Value<string>("answer5")
			},
			new Section
			{
				Title = Model.Value<string>("question6"),
				Content = Model.Value<string>("answer6")
			},
			new Section
			{
				Title = Model.Value<string>("question7"),
				Content = Model.Value<string>("answer7")
			}
		}
	};
}

<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>