@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ImprintPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models
@{
	Layout = "Master.cshtml";	
	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),
		
		Sections = new List<Section>
		{
			new Section
			{
				Content = Model.Value<string>("companyInformations")
			},
			new Section
			{
				Content = Model.Value<string>("contact")
			},
			new Section
			{
				Content = Model.Value<string>("licenseAndCo")
			}
		}
	};
}

<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>