@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PerfumesPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models
@using Umbraco.Cms.Core.Models.Blocks
@{
	Layout = "master.cshtml";
	var products = Model.Value<IEnumerable<BlockListItem>>("products");
}

<div class="container mx-auto px-6 py-12">
	<h1 class="text-6xl font-extrabold mb-6 text-center" style="color:#111111">Luxury @Model.Value("productType")</h1>
	<div class="text-xl font-bold text-center mb-10" style="color:#111111"> 
		@Model.Value("categorySlogan")
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
		@foreach (var product in products)
		{
			var productContent =  product.Content;
			
			var productCard = new ProductCardViewModel {
				Brand = productContent.Value<string>("productBrand"),
				Name = productContent.Value<string>("productName"),
				Price = productContent.Value<decimal>("productPrice"),
				ImageUrl = productContent.Value<IPublishedContent>("productShowImg")?.Url() ?? "",
				PdpLink = productContent.Value<IPublishedContent>("pdpLink")
			};
			
			@await Html.PartialAsync("Partials/_ProductCard", productCard)
		}
	</div>
</div>

<style>
	main {
		background-image: url('/images/background/gold_veins_white_marble.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>