@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.PrivacyPolicyPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models;

@{
	Layout = "Master.cshtml";
	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),
		
		Sections = new List<Section>
		{
			new Section
			{
				Content = Model.Value<string>("Intro")
			},
			new Section
			{
				Title = Model.Value<string>("dataCollectionTitle"),
				Content = Model.Value<string>("dataCollection")
			},
			new Section()
			{
				Title = Model.Value<string>("useOfDataTitle"),
				Content = Model.Value<string>("useOfData")		
			},
			new Section()
			{
				Title = Model.Value<string>("dataSharingTitle"),
				Content = Model.Value<string>("dataSharing")
			},
			new Section()
			{
				Title = Model.Value<string>("cookiesTitle"),
				Content = Model.Value<string>("cookies")
			},
			new Section()
			{
				Title = Model.Value<string>("yourRightsTitle"),
				Content = Model.Value<string>("yourRights")
			},
			new Section()
			{
				Title = Model.Value<string>("contactTitle"),
				Content = Model.Value<string>("contact")
			},
		}
	};
}

<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>