@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SpiritsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models
@using Umbraco.Cms.Core.Models.Blocks
@{
	Layout = "master.cshtml";
	var whiskies = Model.Value<IEnumerable<BlockListItem>>("whiskies");
	var rums = Model.Value<IEnumerable<BlockListItem>>("rums");
}

<div class="container mx-auto px-6 py-12">
	<h1 class="text-6xl font-extrabold mb-6 text-center" style="color:#111111">Luxury @Model.Value("productType")</h1>
	<div class="text-xl font-bold text-center mb-10" style="color:#111111"> 
		@Model.Value("categorySlogan")
	</div>
	
	<section class="mb-16">
		<h2 class="text-5xl font-bold mb-6 text-center" style="color: #111111">Whisky</h2>
		
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
			@foreach (var product in whiskies)
			{
				var productContent = product.Content;
				var vm = new ProductCardViewModel {
					Brand = productContent.Value<string>("productBrand"),
					Name = productContent.Value<string>("productName"),
					Price = productContent.Value<decimal>("productPrice"),
					ImageUrl = productContent.Value<IPublishedContent>("productShowImg")?.Url() ?? "",
					PdpLink = productContent.Value<IPublishedContent>("pdpLink")
				};

				@await Html.PartialAsync("Partials/_ProductCard", vm)
			}
		</div>
	</section>
	
	<section class="mb-16">
		<h2 class="text-5xl font-bold mb-6 text-center" style="color: #111111">Rum</h2>
		
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10">
			@foreach (var product in rums)
			{
				var productContent = product.Content;
				var productCard = new ProductCardViewModel {
					Brand = productContent.Value<string>("productBrand"),
					Name = productContent.Value<string>("productName"),
					Price = productContent.Value<decimal>("productPrice"),
					ImageUrl = productContent.Value<IPublishedContent>("productShowImg")?.Url() ?? "",
					PdpLink = productContent.Value<IPublishedContent>("pdpLink")
				};

				@await Html.PartialAsync("Partials/_ProductCard", productCard)
			}
		</div>
	</section>
	
</div>

<style>
	main {
		background-image: url('/images/background/gold_veins_white_marble.png');
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
</style>