@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.SupportPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using LuxuryAndCo.OnlineShop.Models;
@{
	Layout = "Master.cshtml";
	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),

		Sections = new List<Section>
		{
			new Section
			{
				Content = Model.Value<string>("supportContent")
			},
			new Section
			{
				Title = Model.Value<string>("supportContactsTitle"),
				Content = Model.Value<string>("supportContacts")
			}
		}
	};
}
<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>
