@using LuxuryAndCo.OnlineShop.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.TermsOfServicePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
	var footerModel = new FooterContentViewModel()
	{
		PageTitle = Model.Value<string>("pageTitle"),
		
		Sections = new List<Section>
		{
			new Section
			{	
				Title = Model.Value<string>("acceptanceOfTerms"),
				Content = Model.Value<string>("acceptanceOfTermsContent")
			},
			new Section
			{	
				Title = Model.Value<string>("useOfWebsite"),
				Content = Model.Value<string>("useOfWebsiteContent")
			},
			new Section
			{	
				Title = Model.Value<string>("intellectualProperty"),
				Content = Model.Value<string>("intellectualPropertyContent")
			},
			new Section 
			{	
				Title = Model.Value<string>("disclaimer"),
				Content = Model.Value<string>("disclaimerContent")
			},
			new Section 
			{	
				Title = Model.Value<string>("limitationOfLiability"),
				Content = Model.Value<string>("limitationOfLiabilityContent")
			},
			new Section
			{
				Title = Model.Value<string>("changesToTerms"),
				Content = Model.Value<string>("changesToTermsContent")
			}
		}
	};
}

<section class="contact-container">
	@await Html.PartialAsync("~/Views/Partials/PageContentTemplate/FooterContentTemplate.cshtml", footerModel)
</section>